* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#networkName {
    text-decoration: underline;
}
.topForms {
    width: fit-content;
    margin: 20px auto;
}

.leftNetwork, .rightNetwork {
    height: 1123px;
    width: 794px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.networkBox {
    width: fit-content;
    margin: auto;
}
span {
    line-height: 30px;
}
.rightNetwork span {
    line-height: 50px;
}
.one {
    font-size: 18px;
    font-weight: bolder;
    text-decoration: underline;
}
.topForms input {
	height: 30px;
	padding-left: 5px;
	width: 260px;
}
.topForms select {
	height: 30px;
	margin-right: 10px;
}
.topForms button {
	height: 30px;
	padding: 0 20px;
}
#numberplate {
	margin: 0 10px;
}